*{
    margin: 0;
    padding: 0;
}
.swiper-slide {
        text-align: center;
        font-size: 16px;
        background: #fff;
        width: 80px;
        height: 20px;
}
.lxjtitle{
    border-bottom:1px solid #333;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}
.lxjtitle>button{
    position: absolute;
    left: 0;
}
.lxjtitle>p{
   font-size: 18px;
      
}
.lxjbig{
    display: flex;
    width: 100%;
    padding: 10px;
}
.lxjbig>img{
    width: 40%;
    height: 200px;
}
.lxjci{
    width:60%;
    height: 200px;
    display: flex;
    flex-direction:column;
    padding: 10px;
    justify-content: space-around;
}
.lxjci>h3{
    width: 100%;  
    /* height: 50px; 
    text-overflow: ellipsis; */
}
.lxjci>p{
    width: 100%;
}
.lxjprice{
    display: flex;
    align-items: center;
}
.lxjpr{
    color: red;
    /* font-weight: bolder; */
    font-size: 20px;
}
.lxjq{
    font-size: 15px;
    padding-left: 5px;
}