*{
    margin: 0;
    padding: 0;
}
#lxjwith>.swiper-container>.swiper-wrapper  .lxjswiper-slide {
        text-align: center;
        font-size: 16px;
        background-color: rgba(255,255,255,0);
        width: 60px;
        
}
.lxjleft{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 15px;
}
.lxjtitle{
    border-bottom:1px solid #333;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
    
}
.lxjtitle>.showbody{
    text-align: center;
}
.lxjtitle>button{
    position: absolute;
    left: 0;
}
.lxjtitle>p{
   font-size: 18px;
      
}
.ding{
    
    position: absolute;
    top:110px;
}
.lxjbig{
    display: flex;
    width: 100%;
    padding: 10px;
}
.lxjbig>img{
    width: 40%;
    height: 200px;
}
.lxjci{
    width:60%;
    height: 200px;
    display: flex;
    flex-direction:column;
    padding: 10px;
    justify-content: space-around;
}
.lxjci>h2{
    width: 100%;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;  
    /* height: 50px; 
    text-overflow: ellipsis; */
}
.lxjci>p{
    width: 100%;
}
.lxjprice{
    display: flex;
    align-items: center;
}
.lxjpr{
    color: red;
    /* font-weight: bolder; */
    font-size: 20px;
}
.lxjq{
    font-size: 15px;
    padding-left: 5px;
}